<h1>cabelo Details</h1>
<p>ID: <%= cabelo.id %></p>
<p>Nome: <%= cabelo.nome %></p>
<p>Descrição: <%= cabelo.descricao %></p>
<p>Preço: <%= cabelo.preco %></p>
<p>Quantidade: <%= cabelo.quantidade %></p>
<p>Categoria: <%= cabelo.categoria_nome %></p>
<a href="/cabelos" class="btn btn-primary">Back to List</a>
